In [1]:
# import libraries
import os
import glob
import numpy as np
import pandas as pd

In [2]:
# get file paths
files = [f.split("/")[-1] for f in glob.glob("/data/subhadip/hard-validation-test/*.jpg")]

In [3]:
# create table
df = pd.DataFrame({"image": files})
np.random.seed(20)
df["angle"] = np.random.choice(range(360), size=df.shape[0])
df["angle"] = df["angle"].astype("float32")

test_count = int(min(1500, df.shape[0]*0.5))
df = df.sample(frac=1, random_state=20).reset_index(drop=True)
df["mode"] = ["test"] * test_count + ["valid"] * (df.shape[0] - test_count)
df.head()

              image  angle  mode
0  000000245123.jpg   82.0  test
1  000000152234.jpg  120.0  test
2  000000507772.jpg  131.0  test
3  000000325212.jpg  223.0  test
4  000000299049.jpg   21.0  test

In [4]:
# save data
df.to_csv("/data/subhadip/hard-validation-test.csv", index=False)